In [1]:
import os
os.chdir("C:/Users/SILAMBARASAN R/OneDrive/Desktop/sqlchatbot")

In [2]:
import sys
sys.path.append('./main')

In [3]:
from sql_generator import generate_sql
from db_connector import run_query
import pandas as pd

In [5]:
import sqlite3
import os

# Replace with your actual path
db_path = r"C:\Users\SILAMBARASAN R\OneDrive\Desktop\sqlchatbot\main\chinook.db"

if not os.path.exists(db_path):
    print("❌ Database file not found!")
else:
    conn = sqlite3.connect(db_path)
    cursor = conn.cursor()

    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = cursor.fetchall()
    print("✅ Tables in DB:", tables)

    conn.close()

✅ Tables in DB: [('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',), ('Albums',)]

In [4]:

while True:
    user_input=input("You: ")

    if(user_input.lower()=='exit'):
            print("SHIELD: Goodbye!")
            break
    
    sql_query=generate_sql(user_input)
    print(f"Generated SQL:\n{sql_query}\n")

    
    results=run_query(sql_query)

    if isinstance(results,str):
            print(f"SHIELD: {results}")
    elif results:
            if isinstance(results,list) and len(results[0])==1:
               values=[list(row.values())[0] for row in results]
        
        
               print("Shield:",", ".join(str(v) for v in values))  
            else:
               #show full table if more than one column
               df=pd.DataFrame(results)
               print("Shield:\n")
               display(df)  

    else:
            print("Shield: No results found.")

Generated SQL:
SELECT Customer.FirstName, Customer.LastName, Customer.Country FROM Customer;

Shield:

    FirstName      LastName         Country
0        Luís     Gonçalves          Brazil
1      Leonie        Köhler         Germany
2    François      Tremblay          Canada
3       Bjørn        Hansen          Norway
4   František   Wichterlová  Czech Republic
5      Helena          Holý  Czech Republic
6      Astrid        Gruber         Austria
7        Daan       Peeters         Belgium
8        Kara       Nielsen         Denmark
9     Eduardo       Martins          Brazil
10  Alexandre         Rocha          Brazil
11    Roberto       Almeida          Brazil
12   Fernanda         Ramos          Brazil
13       Mark       Philips          Canada
14   Jennifer      Peterson          Canada
15      Frank        Harris             USA
16       Jack         Smith             USA
17   Michelle        Brooks             USA
18        Tim         Goyer             USA
19        Dan        Miller             USA
20      Kathy         Chase             USA
21    Heather       Leacock             USA
22       John        Gordon             USA
23      Frank       Ralston             USA
24     Victor       Stevens             USA
25    Richard    Cunningham             USA
26    Patrick          Gray             USA
27      Julia       Barnett             USA
28     Robert         Brown          Canada
29     Edward       Francis          Canada
30     Martha          Silk          Canada
31      Aaron      Mitchell          Canada
32      Ellie      Sullivan          Canada
33       João     Fernandes        Portugal
34   Madalena       Sampaio        Portugal
35     Hannah     Schneider         Germany
36       Fynn    Zimmermann         Germany
37     Niklas      Schröder         Germany
38    Camille       Bernard          France
39  Dominique      Lefebvre          France
40       Marc        Dubois          France
41      Wyatt        Girard          France
42   Isabelle       Mercier          France
43      Terhi    Hämäläinen         Finland
44   Ladislav        Kovács         Hungary
45       Hugh      O'Reilly         Ireland
46      Lucas       Mancini           Italy
47   Johannes  Van der Berg     Netherlands
48  Stanisław        Wójcik          Poland
49    Enrique         Muñoz           Spain
50     Joakim     Johansson          Sweden
51       Emma         Jones  United Kingdom
52       Phil        Hughes  United Kingdom
53      Steve        Murray  United Kingdom
54       Mark        Taylor       Australia
55      Diego     Gutiérrez       Argentina
56       Luis         Rojas           Chile
57      Manoj        Pareek           India
58       Puja    Srivastava           India

SHIELD: Goodbye!